/* General styles */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #171C32;
  --seconadry: #252C48;
  --third: #4c84ff;
}

.locationPermiss, .weatherInfo {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 50px 0;
}

body {
  margin: 0;
  background-color: var(--primary);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 850px) {
  .locationPermiss, .weatherInfo {
    height: auto;
  }
}